body {
  background: #eee;
}
.content {
  max-width: 800px;
  padding: 10px 30px;
  background: #fff;
}
table {
  margin: 10px;
}
table th {
  padding-right: 10px;
  text-align: left;
}
section {
  padding: 0 10px;
}